<style>
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=Montserrat&display=swap');
</style>



body {
	font-family: "tablet-gothic", verdana, arial, sans-serif;
  }
  h2,
  h3 {
	font-family: "tablet-gothic-condensed", "arial narrow", arial, verdana,
	  sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	font-weight: normal;
  }
  
  html {
	background: black;
	padding: 10%;
  }
  body {
	background: #ffc5df;
	padding: 5%;
	margin: 0;
  }
  
  h1 {
	color: #fff;
	background: #ff57e0;
	padding: 2% 4%;
	letter-spacing: 1px;
	display: inline-block;
	margin: 0px;
	text-transform: uppercase;
  }
 
  
  h2 {
	color: rgb(11, 11, 11);
	font-size: 100px;
	margin: 0;
	margin-top: 2%;
	width: 60%;
	line-height: 100%;
  }
  h3 {
	font-size: 25px;
	font-weight: 100;
	margin: 0;
	padding: 5px 0;
  }
  
  div.summary {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 65%;
	padding: 10px 0;
  }
  div.summary a {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid grey;
  }
  
  div.preamble {
	background: #feffffa0;
	padding: 3% 3% 3% 15%;
	left: -15%;
	position: relative;
	width: 75%;
	font-size: 90%;
	box-sizing: border-box;
  }
  
  div.main {
	color: rgb(11, 11, 11);
	position: relative;
	width: 40%;
	padding: 20% 5%;
  }
  div.explanation {
	font-size: 80%;
  }
  div.participation {
	background: rgba(249, 156, 229, 0.838);
	position: relative;
	top: -465px;
	right: -110%;
	padding: 20% 15%;
	width: 120%;
	box-sizing: border-box;
	font-size: 80%;
  }
  div.participation a {
	color: #fff;
	border-bottom: 1px solid grey;
	text-decoration: none;
  }
  
  div.benefits {
	color: black;
	background: #f2f9fb;
	position: relative;
	top: -400px;
	left: -10%;
	padding: 15% 10%;
	font-size: 80%;
	box-sizing: border-box;
	width: 70%;
  }
  div.requirements {
	color: black;
	background: #f2f9fb;
	position: relative;
	top: -880px;
	right: -60%;
	padding: 15% 10%;
	width: 150%;
	font-size: 80%;
  }
  div.requirements a {
	color: black;
	text-decoration: none;
	border-bottom: 1px solid grey;
  }
  
  footer {
	background: #747474;
	padding: 8% 20% 8% 10%;
	width: 100%;
	position: relative;
	top: -880px;
  }
  footer a {
	text-decoration: none;
	border-bottom: 1px solid rgb(50, 50, 50);
	display: inline-block;
	color: rgb(255, 255, 255);
	font-size: 80%;
  }
  
  aside.sidebar {
	background: #fe8181;
	width: 35%;
	position: relative;
	top: -3390px;
	right: -70%;
	padding: 8% 5%;
	box-sizing: border-box;
	margin: 0;
	z-index: 4;
  }
  .sidebar ul {
	padding: 0;
  }
  .sidebar li {
	list-style: none;
	margin-bottom: 8%;
	list-style-position: outside;
	color: grey;
  }
  .sidebar a {
	color: black;
	text-decoration: none;
	border-bottom: 1px solid grey;
	font-size: 80%;
  }
  .archives,
  .zen-resources {
	margin-top: 20%;
  }
  
  .extra1 {
	background: rgba(176, 107, 141, 0.95);
	width: 30%;
	height: 100%;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 3;
  }
