
<style>
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=Montserrat&display=swap');
</style>
.page-wrapper {
	background-color: #232323;
	padding: 10px;
	margin: 10px; }
  
  body {
	margin: 0;
	font-family: "Crimson";
	background-color: #fafdfa; }
  
  div {
	margin-bottom: 3%;
	position: relative; }
	
  
  .intro h1 {
	background-color: #2ba546;
	width: 75%;
	margin-left: -6%;
	padding: .3em;
	padding-left: 10%;
	font-family: "Montserrat";
	font-weight: 500;
	text-transform: uppercase;
	font-size: 180%;
	border-bottom: 5px dotted #4dbac4;
	border-top: 5px dotted #4dbac4;
	margin-bottom: 3%; }


  .intro h2::after {
	height: 170px;
	width: 170px;
	background-image: url("https://raw.githubusercontent.com/VanessaGVilla/vanessagvilla.github.io/master/image/yoga%2Cjpg.jpg");
	content: "";
	display: inline-block;
	position: relative;
	background-size: cover; }
  .intro h2 {
	font-family: "Crimson";
	font-weight: 700;
	color: rgb(49, 48, 48);
	text-transform: uppercase;
	font-size: 450%;
	margin-top: 0;
	margin-bottom: 1%;
	line-height: 100%;
	display: inline-block;
	width: 90%;
	margin-left: 7%; }
  
  .preamble {
	border: 5px dotted #97bd44;
	padding: 0 3% 3% 3%;
	border-radius: 10px; }
  
  p {
	font-size: 20px; }
  
  h3 {
	font-size: 25px; }
  
  .summary {
	font-size: 20px; }
	.summary p:nth-child(2) {
	  margin-bottom: 30px; }
  
  .explanation {
	background-color: #51b03d; }
  
  .main div {
	width: 94%;
	padding: 3%; }
  
  .explanation::after, .participation::after {
	border-bottom: 6px dotted #C7F464;
	content: "";
	width: 105%;
	height: 20px;
	display: block;
	top: 30px;
	position: relative;
	right: 2%; }
  
  .benefits {
	background-color: white;
	margin-top: 15%; }
	.benefits p {
	  margin-bottom: 5px; }
  
  .benefits::after {
	border-bottom: 6px dotted #ff6bc4;
	content: "";
	width: 105%;
	height: 20px;
	display: block;
	top: 40px;
	position: relative;
	right: 2%; }
  
  .requirements {
	background-color: #b3d568;
	margin-top: 15%; }
	.requirements p:nth-child(6) {
	  background-color: #fffefda3;
	  width: 103%;
	  padding: 10px; }
  
  footer {
	background-color: #556270;
	height: 40px;
	width: 106%;
	position: relative;
	right: 4%; }
	footer a {
	  padding: 13px;
	  font-size: 18px;
	  padding-top: 10px;
	  top: 8px;
	  position: relative;
	  color: #352b2b;
	  text-decoration: none;
	  transition: .5s; }
	footer a:nth-child(1) {
	  margin-left: 10%; }
	footer a:hover {
	  color: rgb(39, 39, 39); }
  
  .sidebar h3 {
	color: #C7F464; }
  
  ul li {
	font-size: 17px;
	color: rgb(33, 33, 33); }
  ul a {
	color: rgb(45, 44, 44);
	transition: 1s; }
  ul a:hover {
	color: #1ba43d; }
  
  .summary p:nth-child(1), .summary p:nth-child(2) {
	margin-left: 7%; }
  
  @media screen and (min-width: 354px) {
	.intro h2 {
	  width: 300px; } }
  footer::before {
	content: "";
	height: 300px;
	width: 300px;
	background-image: url("https://raw.githubusercontent.com/VanessaGVilla/vanessagvilla.github.io/master/image/processingly-2pUP1Ts1bmo-unsplash.jpg");
	position: absolute;
	background-size: cover;
	top: -340px;
	left: 5%;
	display: none; }
  
  @media only screen and (min-width: 600px) {
	footer::before {
	  display: block; } }
  @media only screen and (min-width: 850px) {
	footer::before {
	  left: 30%; } }
  @media screen and (min-width: 600px) {
	.preamble {
	  width: 35%;
	  left: 55%;
	  bottom: 700px; }
  
	.intro h2::after {
	  height: 200px;
	  width: 200px; }
  
	.summary {
	  width: 50%; }
  
	.intro {
	  height: 918px; }
  
	.explanation::after {
	  top: 0px;
	  height: 0px; }
  
	.participation::after {
	  height: 0px;
	  top: 20px;
	  border-bottom: 5px dotted #50db34; }
  
	.explanation::before {
	  border-bottom: 5px dotted #7ca621;
	  content: "";
	  width: 105%;
	  display: block;
	  position: relative;
	  right: 2%; }
  
	.explanation {
	  width: 60% !important;
	  left: -3%; }
  
	.participation::before {
	  height: 250px;
	  width: 250px;
	  background-image: url("image/processingly-2pUP1Ts1bmo-unsplash.jpg");
	  content: "";
	  display: inline-block;
	  position: relative;
	  background-size: cover;
	  left: 65%;
	  bottom: 150px; }
  
	.participation {
	  top: -280px; }
  
	.benefits, .requirements {
	  display: inline-block;
	  width: 39% !important;
	  margin: 2%;
	  bottom: 300px; }
  
	.benefits {
	  vertical-align: top;
	  top: 0px; }
  
	.benefits::after {
	  height: 0;
	  top: 50px; }
  
	.benefits::before {
	  content: "";
	  height: 250px;
	  width: 250px;
	  background-image: url("https://raw.githubusercontent.com/VanessaGVilla/vanessagvilla.github.io/master/image/chris-ensey-16QrjudiZnE-unsplash.jpg");
	  background-size: cover;
	  display: inline-block;
	  position: absolute;
	  bottom: 438px;
	  left: 5%; }
  
	.design-selection, .design-archives, .zen-resources {
	  display: inline;
	  float: left;
	  width: 30%;
	  margin: 0 1% 0 1%; }
  
	.requirements p:nth-child(6) {
	  width: 118%; }
  
	footer {
	  background-color: #a0ce3f;
	  width: 310px;
	  top: -576px;
	  right: 10px; }
	  footer a {
		color: #556270; }
	  footer a:hover {
		color: #4ECDC4; }
  
	#zen-supporting {
	  margin-bottom: -249px; } }
  @media screen and (min-width: 885px) {
	footer {
	  top: -480px; } }
  @media screen and (min-width: 800px) {
	.intro h2 {
	  font-size: 600%; }
  
	.intro h2::after {
	  height: 250px;
	  width: 250px;
	  content: "";
	  display: block;
	  position: relative;
	  background-size: cover;
	  left: 30px; }
  
	.participation::before {
	  left: 70%; }
  
	.benefits::before {
	  content: "";
	  height: 290px;
	  width: 290px;
	  background-image: url("https://raw.githubusercontent.com/VanessaGVilla/vanessagvilla.github.io/master/image/carlos-de-miguel-Kq2WV3WPrYU-unsplash.jpg");
	  background-size: cover;
	  display: inline-block;
	  position: absolute;
	  bottom: 371px;
	  left: 20%; } }
  @media screen and (min-width: 1030px) {
	.intro {
	  width: 990px;
	  margin: auto; } }
  @media screen and (min-width: 1105px) {
	.intro h1 {
	  padding-left: 30%;
	  left: -20%;
	  position: relative; }
  
	.preamble {
	  left: 60%; }
  
	.participation::before {
	  left: 75%; } }
  @media screen and (min-width: 1030px) {
	footer {
	  top: -352px; } }
  @media screen and (min-width: 1330px) {
	footer {
	  top: -276px; }
  
	footer::before {
	  left: 50%; } }
  @media screen and (min-width: 1500px) {
	footer {
	  top: -220px; }
  
	#zen-supporting {
	  margin-bottom: -186px; } }
  
